:host {
	display: block;
	position: relative;
	user-select: none;
}

div {
    background-color: var(--vscode-scrollbarSlider-background);
    box-sizing: border-box;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    
    &:hover {
        background-color: var(--vscode-scrollbarSlider-hoverBackground);
    }
    
    &:active {
        background-color: var(--vscode-scrollbarSlider-activeBackground);
    }
}

canvas {
	display: block;
	opacity: 0.7;
}