:host {
	display: block;
	position: relative;
	user-select: none;
}

div {
	background: var(--l13-scrollbar-background);
	border: solid 1px var(--vscode-foreground);
	box-sizing: border-box;
	height: 10px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
}

canvas {
	display: block;
	opacity: 0.7;
}