<l13-diff-panel vmId="panel">
	<l13-diff-folders>
		<l13-diff-input vmId="left" id="left" placeholder="Left file or folder"></l13-diff-input>
		<l13-diff-swap vmId="swap"></l13-diff-swap>
		<l13-diff-input vmId="right" id="right" placeholder="Right file or folder"></l13-diff-input>
	</l13-diff-folders>
	<l13-diff-tools>
		<l13-diff-views vmId="views"></l13-diff-views>
		<l13-diff-actions vmId="actions"></l13-diff-actions>
		<l13-diff-compare vmId="compare"></l13-diff-compare>
	</l13-diff-tools>
</l13-diff-panel>
<l13-diff-list-search vmId="search"></l13-diff-list-search>
<l13-diff-list vmId="list"></l13-diff-list>