:host {
	cursor: default;
	display: block;
	padding-left: 10px;
	user-select: none;
	
	> input[type="checkbox"] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		height: 20px;
		margin: 0 10px 0 0;
		padding: 0 0 0 0;
		position: relative;
		width: 20px;
			
		&::before {
			background: var(--l13-icon-background);
			content: '';
			height: 100%;
			left: 0;
			-webkit-mask-position: 50% 50%;
			mask-position: 50% 50%;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&:focus {
			outline: solid 1px var(--vscode-focusBorder, transparent);
		}
		
		&:hover {
			cursor: pointer;
			outline: var(--l13-list-hover-outline, none);
		}
		
		&:not([disabled]).-active {
			transform: scale(1.2, 1.2);
		}
		
		&[disabled] {
			opacity: 0.3;
			cursor: default;
		}
		
		&:checked::after {
			background: var(--l13-icon-background);
			content: '';
			height: 11px;
			-webkit-mask-image: url('checked.svg');
			mask-image: url('checked.svg');
			-webkit-mask-position: 50% 50%;
			mask-position: 50% 50%;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			right: -6px;
			position: absolute;
			bottom: -7px;
			width: 11px;
		}
		
		&#l13_show_unchanged {
			
			&::before {
				-webkit-mask-image: url('show-unchanged.svg');
				mask-image: url('show-unchanged.svg');
			}
		}
		
		&#l13_show_deleted {
			
			&::before {
				-webkit-mask-image: url('show-deleted.svg');
				mask-image: url('show-deleted.svg');
			}
		}
		
		&#l13_show_modified {
			
			&::before {
				-webkit-mask-image: url('show-modified.svg');
				mask-image: url('show-modified.svg');
			}
		}
		
		&#l13_show_untracked {
			
			&::before {
				-webkit-mask-image: url('show-untracked.svg');
				mask-image: url('show-untracked.svg');
			}
		}
		
		&#l13_show_ignored {
			
			&::before {
				-webkit-mask-image: url('show-ignored.svg');
				mask-image: url('show-ignored.svg');
			}
		}
	}
}