:host {
	display: block;
	overflow: auto;
	margin: 0 0 0 0;
	user-select: none;
	
	// "list.activeSelectionBackground": "#313233",
	// "list.activeSelectionForeground": "#cbcccd",
	// "list.dropBackground": "#05507c",
	// "list.errorForeground": "#f20013",
	// "list.focusBackground": "#05507c",
	// "list.focusForeground": "#ffffff",
	// "list.highlightForeground": "#ffffff",
	// "list.hoverBackground": "#05507c",
	// "list.hoverForeground": "#ffffff",
	// "list.inactiveFocusBackground": "#313233",
	// "list.inactiveSelectionBackground": "#313233",
	// "list.inactiveSelectionForeground": "#cbcccd",
	// "list.invalidItemForeground": "#f20013",
	// "list.warningForeground": "#e68300",
}

l13-diff-list-body {
	display: block;
	width: 100%;
	
	&.-focus {
		
		l13-diff-list-row {
			
			&.-selected {
				background: var(--vscode-list-activeSelectionBackground) !important;
				color: var(--vscode-list-activeSelectionForeground) !important;
					
				l13-diff-list-file::before {
					background: var(--vscode-list-activeSelectionForeground) !important;
				}
			}
		}
	}
}

l13-diff-list-row {
	display: flex;
	width: 100%;
	
	&:hover {
		background: var(--vscode-list-hoverBackground);
		color: var(--vscode-list-hoverForeground);
	}
	
	&.-selected {
		background: var(--vscode-list-inactiveSelectionBackground) !important;
		color: var(--vscode-list-inactiveSelectionForeground) !important;
			
		l13-diff-list-file::before {
			background: var(--vscode-list-inactiveSelectionForeground) !important;
		}
		
		// &:hover {
			
		// }
	}
	
	&.-deleted {
		color: var(--vscode-gitDecoration-deletedResourceForeground);
	}
	
	&.-modified {
		color: var(--vscode-gitDecoration-modifiedResourceForeground);
	}
	
	// &.-unchanged {
		
	// }
	
	&.-untracked {
		color: var(--vscode-gitDecoration-untrackedResourceForeground);
	}
	
	&.-error {
		background: var(--vscode-list-errorForeground);
		color: #ffffff;
		
		l13-diff-list-file::before {
			background: #ffffff;
		}
	}
}
	
l13-diff-list-file {
	box-sizing: border-box;
	overflow: hidden;
	padding: 2px 10px 3px 38px;
	position: relative;
	width: 50%;
	
	&.-file::before,
	&.-folder::before {
		background: var(--vscode-foreground);
		content: '';
		display: block;
		height: 16px;
		left: 17px;
		-webkit-mask-position: 50% 50%;
		mask-position: 50% 50%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		position: absolute;
		top: 2px;
		width: 16px;
	}
	
	&.-file::before {
		-webkit-mask-image: url('file.svg');
		mask-image: url('file.svg');
	}
	
	&.-folder::before {
		-webkit-mask-image: url('folder.svg');
		mask-image: url('folder.svg');
	}
}