:host {
	background: var(--vscode-editorWidget-background);
	box-shadow: 0px 5px 8px var(--vscode-widget-shadow, transparent);
	box-sizing: border-box;
	display: block;
	
	> l13-diff-menu-lists {
		
		> ul {
			border-top: solid 1px var(--vscode-pickerGroup-border);
			list-style-type: none;
			margin: 0 0 0 0;
			// outline: solid 1px var(--vscode-pickerGroup-border, transparent);
			// outline-offset: -1px;
			padding: 0 0 0 0;
			
			&:first-child {
				border: none;
			}
			
			> li {
				color: var(--vscode-foreground);
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				margin: 0 0 0 0;
				padding: 4px 10px 5px 10px;
				user-select: none;
				
				&.-active,
				&.-selected {
					background: var(--vscode-list-focusBackground);
					color: var(--vscode-list-focusForeground);
				}
				
				&:hover {
					background: var(--vscode-list-hoverBackground);
					color: var(--vscode-list-hoverForeground);
				}
				
				div.-path {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				
				div.-info {
					color: var(--vscode-pickerGroup-foreground);
					padding-left: 10px;
					text-align: right;
					white-space: nowrap;
				}
			}
		}
	}
}