:host {
	position: relative;
	user-select: none;
	
	> input {
		background: var(--vscode-input-background);
		border: none;
		box-sizing: border-box;
		color: var(--vscode-input-foreground);
		display: block;
		font-size: 0.8125rem;
		outline: solid 1px var(--vscode-input-border, transparent);
		outline-offset: -1px;
		padding: 4px 35px 5px 7px;
		width: 100%;
		z-index: 0;
	
		&::selection {
			color:var(--l13-selection-foreground);
			background: var(--l13-selection-background);
		}
		
		&:focus {
			outline-color: var(--vscode-focusBorder, transparent);
		}
			
		&.-error {
			outline-color: var(--vscode-inputValidation-errorBorder, #cc0000);
		}
	}
	
	> button {
		background: transparent;
		border: 0;
		border-radius: 5px;
		cursor: pointer;
		height: 22px;
		padding: 0 0 0 0;
		position: absolute;
		right: 4px;
		top: 1px;
		width: 22px;
			
		&::before {
			background: var(--l13-icon-background);
			content: '';
			height: 100%;
			left: 0;
			-webkit-mask-image: url('folder.svg');
			mask-image: url('folder.svg');
			-webkit-mask-position: 50% 50%;
			mask-position: 50% 50%;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		&:focus {
			outline: solid 1px var(--vscode-focusBorder, transparent);
		}
		
		&:not([disabled]):hover {
			background-color: var(--l13-button-hover-background);
		}
		
		&:not([disabled]).-active {
			background-color: var(--l13-button-active-background);
		}
		
		&[disabled] {
			cursor: default;
			opacity: 0.3;
			
			&:hover {
				
				&::before {
					background: var(--l13-icon-background) !important;
				}
			}
		}
	}
}