$host-width: 364px;

:host {
	background: var(--vscode-editorWidget-background);
	box-shadow: 0 2px 8px var(--vscode-widget-shadow);
	box-sizing: border-box;
	display: block;
	height: 34px;
	max-width: calc(100% - 38px);
	min-width: $host-width;
	padding: 4px 4px 5px 8px;
	position: relative;
	user-select: none;
	width: $host-width;
}

#l13_resizer {
	background: var(--vscode-editorWidget-resizeBorder, var(--l13-searchWidget-borderColor));
	cursor: col-resize;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 3px;
}

div.l13-input {
	margin: 0 154px 0 0;
	position: relative;
}

div.l13-message {
	background: var(--vscode-inputValidation-errorBackground);
	box-sizing: border-box;
	border: solid 1px var(--vscode-inputValidation-errorBorder);
	color: var(--vscode-inputValidation-errorForeground);
	font-size: 12px;
	line-height: 17px;
	margin: -1px 0 0 0;
	padding: .4em .4em .4em .4em;
	width: 100%;
	// word-wrap: break-word;
}

input[type="text"] {
	background: var(--vscode-input-background);
	border: none;
	box-sizing: border-box;
	color: var(--vscode-input-foreground);
	display: block;
	font-size: 0.8125rem;
	height: 25px;
	outline: solid 1px var(--vscode-input-border, transparent);
	outline-offset: -1px;
	margin: 0 0 0 0;
	padding: 4px 46px 5px 7px;
	width: 100%;
	z-index: 0;
	
	&::selection {
		color: var(--l13-selection-foreground);
		background: var(--l13-selection-background);
	}
	
	&:focus {
		outline-color: var(--vscode-focusBorder, transparent);
	}
	
	&.-error{
		outline-color: var(--vscode-inputValidation-errorBorder);
	}
}

input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 0 0 0;
	opacity: 0.7;
	outline: solid 1px transparent;
	outline-offset: -1px;
	padding: 0 0 0 0;
	position: absolute;
	top: 3px;
	width: 20px;
	
	&:hover {
		opacity: 1;
	}
	
	&:focus {
		outline-color: var(--vscode-focusBorder, transparent);
		opacity: 1;
	}
		
	&::after {
		background: var(--l13-icon-background);
		content: '';
		height: 100%;
		left: 0;
		-webkit-mask-position: 50% 50%;
		mask-position: 50% 50%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		opacity: 0.7;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	&#l13_case_sensitive {
		right: 27px;
		
		&:hover {
			outline: var(--l13-list-hover-outline, none);
		}
		
		&::after {
			-webkit-mask-image: url('case-sensitive.svg');
			mask-image: url('case-sensitive.svg');
		}
	}
	
	&#l13_use_regexp {
		right: 5px;
		
		&:hover {
			outline: var(--l13-list-hover-outline, none);
		}
		
		&::after {
			-webkit-mask-image: url('regexp.svg');
			mask-image: url('regexp.svg');
		}
	}
	
	&.-option {
		height: 22px;
		top: 6px;
		width: 22px;
	}
	
	&#l13_use_files {
		right: 132px;
		
		&::after {
			-webkit-mask-image: url('list-file.svg');
			mask-image: url('list-file.svg');
			left: 1px;
		}
	}
	
	&#l13_use_folders {
		right: 106px;
		
		&::after {
			-webkit-mask-image: url('list-folder.svg');
			mask-image: url('list-folder.svg');
		}
	}
	
	&#l13_use_symlinks {
		right: 80px;
		
		&::after {
			-webkit-mask-image: url('list-symlink.svg');
			mask-image: url('list-symlink.svg');
		}
	}
	
	&#l13_use_conflicts {
		right: 54px;
		
		&::after {
			-webkit-mask-image: url('search-conflict.svg');
			mask-image: url('search-conflict.svg');
		}
	}
	
	&#l13_use_others {
		right: 28px;
		
		&::after {
			-webkit-mask-image: url('search-other.svg');
			mask-image: url('search-other.svg');
		}
	}
	
	&:checked {
		background: var(--vscode-inputOption-activeBackground, transparent);
		outline-color: var(--vscode-inputOption-activeBorder);
		
		&::after {
			opacity: 1;
		}
	}
}

button {
	background: transparent;
	border: 0;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: absolute;
	right: 4px;
	top: 7px;
	width: 20px;
		
	&::before {
		background: var(--l13-icon-background);
		content: '';
		height: 100%;
		left: 0;
		-webkit-mask-position: 50% 50%;
		mask-position: 50% 50%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	&:focus {
		outline: solid 1px var(--vscode-focusBorder, transparent);
	}
	
	&:hover {
		background: var(--l13-searchButton-backgroundColor-hover);
		cursor: pointer;
	}
	
	&[disabled] {
		opacity: 0.3;
		cursor: default;
		
		&:hover {
			
			&::before {
				background: var(--l13-icon-background) !important;
			}
		}
	}
	
	&#l13_close {
		
		&:hover {
			outline: var(--l13-list-hover-outline, none);
		}
		
		&::before {
			-webkit-mask-image: url('close.svg');
			mask-image: url('close.svg');
		}
	}
}