:host {
	background: var(--vscode-sideBar-background);
	color: var(--vscode-foreground);
	display: block;
	position: relative;
	width: 100%;
}

l13-diff-loading {
	bottom: 0;
	display: block;
	height: 2px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 4;
	
	&::after {
		animation: loading 4s linear infinite;
		background: linear-gradient(90deg, transparent 0%, var(--vscode-progressBar-background) 20%, var(--vscode-progressBar-background) 80%, transparent 100%) no-repeat;
		bottom: 0;
		content: '';
		height: 2px;
		position: absolute;
		left: 0;
		width: 5%;
	}
}

@keyframes loading {
	0% {
		left: 0;
		width: 3%;
	}
	50% {
		width: 8%;
	}
	100% {
		left: 100%;
		width: 3%;
	}
}