:host {
	box-sizing: border-box;
	line-height: 1px;
	padding: 1px 0 0 0;
	vertical-align: sub;
	white-space: nowrap;
	
	button {
		background: transparent;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		height: 22px;
		margin: -3px 0 0 0;
		position: relative;
		width: 22px;
		z-index: 1;
		
		&:not([disabled]):hover {
			background-color: var(--l13-button-hover-background);
		}
		
		&:not([disabled]).-active {
			background-color: var(--l13-button-active-background);
			
			&::before {
				background-color: var(--l13-icon-activeBackground);
			}
		}
		
		&:disabled {
			cursor: default;
			opacity: .3;
		}
		
		&:focus {
			outline: solid 1px var(--vscode-focusBorder, transparent);
		}
		
		&::before {
			background-color: var(--l13-icon-background);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			-webkit-mask-position: 50% 50%;
			mask-position: 50% 50%;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			position: absolute;
			top: 0;
			transition: background-color 0.1s;
			width: 100%;
		}
		
		&#copy {
			
			&::before {
				-webkit-mask-image: url('copy-file.svg');
				mask-image: url('copy-file.svg');
			}
		}
		
		&#goto {
			
			&::before {
				-webkit-mask-image: url('open-file.svg');
				mask-image: url('open-file.svg');
			}
		}
		
		&#delete {
			
			&::before {
				-webkit-mask-image: url('delete-file.svg');
				mask-image: url('delete-file.svg');
			}
		}
		
		&#reveal {
			
			&::before {
				-webkit-mask-image: url('reveal-file.svg');
				mask-image: url('reveal-file.svg');
			}
		}
	}
}