:host {
	display: block;
	position: relative;
	transform: translate3d(0, 0, 0);
	user-select: none;
}

div {
	background-color: var(--vscode-scrollbarSlider-background);
	box-sizing: border-box;
	height: 10;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate3d(0, 0, 0);
	width: 30px;
	z-index: 1;
		
	&:hover {
		background-color: var(--vscode-scrollbarSlider-hoverBackground);
	}
		
	&:active {
		background-color: var(--vscode-scrollbarSlider-activeBackground);
	}
}

#ruler {
	display: block;
	position: absolute;
	right: 30px;
	top: 0;
	z-index: 0;
}

#map {
	display: block;
	opacity: 0.7;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}